@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1bb00;
}

header {
    background-color: black;
    color: #e70000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
    margin-bottom: 15px;
}

header > h1 {
    padding: 20px 0px 20px 10px  ;
}

header > nav > a {
    color: #e70000;
    text-decoration: none;    
    padding-left: 10px;
}

header > nav > a:hover {
    color: white;
    text-decoration: underline;
}

header img.icones {
    border-radius: 50px;
}


a#chamarnowpp {
    margin-bottom: 25px;
    text-decoration: none;
    color: #e70000;
    font-weight: bold;
    font-size: 1.15em;
    padding: 10px ;
    border-radius: 30px;
    background-color: black;
    display: block;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) ;
    
}


a#chamarnowpp:hover {

    font-weight: bolder;
}

a#pginicial {
    text-decoration: none;
    color: #e70000;
    font-weight: bold;
    font-size: 1.15em;
    padding: 10px ;
    border-radius: 30px;
    background-color: black;
    display: inline;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) ;
    
}

.opcoes {
    margin-top: 20px;
}

ul {
    list-style-type: '⇰';
    margin-left: 25px;
}

li {
    padding: 10px 10px 15px 5px;
}

li > a {
    text-decoration: none;
    color: #e70000;
    padding: 10px ;
    border-radius: 25px;
    font-weight: bold;
    display: block;
    background-color: black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) ;

    
 
}

